@font-face {
	font-family: 'Quaver'; /*a name to be used later*/
	src: url('QuaverSerif.otf'); /*URL to font*/
}

@font-face{
	font-family: 'QuaverSans';
	src: url('QuaverSans.otf');
}

@font-face{
	font-family: 'Fanwood';
	src: url('Fanwood.otf');
}

@font-face{
	font-family: 'FanwoodBold';
	src: url('Fanwood Text.otf');
}

#main_picture {
	border: 10px solid white;
	max-width: 70%;	
	max-height: 79vh;
}



.filler {
	max-width: 90%;
}


#headline {
	color:white;
	font-style: italic
}

.caption{
	font-family: 'Fanwood';
}

.homeTitle{	
    margin-top:70px;
	font-family: 'Fanwood';
	text-align: center;
	font-size: 22px;
}

.home_button{
	font-family: 'QuaverSans';
	font-size: 30px;
	position: absolute;
	top: 0px;
	left: 25px;
}

#my_images{
    text-align:center;
    margin-top:70px;
    font-size: 22px;    
	max-height: 70%
}


.right_button{
	position:absolute;
	right: 25px;
	top: 45vh;
}

.left_button{
	position:absolute;
	left: 25px;
	top: 45vh;
}

a {
	text-decoration: none;
}

#abt_caption {
	max-width: 70vw;
	margin-left: 15vw;
}

h2 {
	color: white;
	font-family: 'FanwoodBold';
}

p {
  color: white;
}
 body {
  background-color: black;
}

.img img {
    width: 100%;
    height: auto;
    border: 4px solid #ffffff;
}

.desc {
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


